script
  $.fn.tagcloud.defaults = {
    size: {start: 12, end: 20, unit: 'pt'},
    color: {start: '#cde', end: '#f52'}
  };

  $(function () {
    $('#tagcloud a').tagcloud();
  });

script
  $(function(){
    $.ajax({
      url: '/stats',
      success: function(data){
        
      }
    });
  });

#wrap 
  #container
    header.header.hero-unit.page-header
      div.row-fluid.text-center
        h1 Eur-oh-god 
        p.lead A Eurovision drinking game
    div.alert-parent  
    if message
      div.alert.alert-info.text-center 
        button(type="button", class="close", data-dismiss="alert") &times;
        h4.message-type #{message.type}
        p #{message.text}
      
    end

    div.rules.row-fluid
      form(method='POST', id='action', action="/submit")
        div.btn-group.btn-group-vertical.span6
            each rule, index in rules
              if ( index % 2 === 0)
                div.rule
                  button(type="submit", class="btn btn-block btn-large", name="rule_id", value="#{rule.id}") #{rule.name}
      
        div.btn-group.btn-group-vertical.span6
           each rule, index in rules
             if ( index % 2 === 1) 
               div.rule
                 button(type="submit", class="btn btn-block btn-large", name="rule_id", value="#{rule.id}") #{rule.name}
    div.modal.hide(id="statsModal")
      modal-header
         button(type="button", class="close", data-dismiss="modal") &times;
         h3.text-center Total Drinky Stats!
      modal-body

        each globalAction in globalActionsList
          ul.stats
            li #{rules[globalAction._id-1].name} - #{globalAction.total}
      modal-footer

    div.stats.row-fluid.text-center
      ul.thumbnails
        li.span4
          h3 Stats
          strong Your local drinks
          if actions == 0
            p None yet. Boo.
          else
            p #{actions}!
          strong Total global drinks
          p #{globalActionsCount}!

        li.span4
            if message.rule
              h3 Your last rule:
              strong #{message.rule}
              p #{message.text}
            else
              h3 Pick a rule above
            end
            p 
            a(href="/restart") Reset 
            | | 
            a(href="/") Refresh
        li.span4
          h3 Recent Global Drinky Trends:
          #tagcloud!= partial('stats')

  #push
include footer.jade 